**/__pycache__
**/.ipynb_checkpoints
*.egg-info/
build/
dist/
site/
examples/data
examples/CIFAR
.all_objects.cache
.pymon
.idea
examples/MNIST
examples/multipart_serialised.eqx
.python-version
.DS_Store
